.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    margin-bottom: 30px;
  }

  .form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: rgba(var(--background-secondary-rgb));
    padding: 30px;
    border-radius: 12px;
    gap: 16px;

    .submitBtn {
      width: 100%;
    }
  }
}
