.table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid rgba(var(--background-secondary-rgb));
    border-collapse: separate;
    border-spacing: 0;
    height: auto;

    tr,
    td,
    th {
        border: 1px solid rgba(var(--background-secondary-rgb));
    }

    th {
        padding: 4px;
    }

    td {
        padding: 12px;
        font-size: small;
    }
}