.searchblock {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 80vw;

  .search {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .searchbar {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 12px;
      background: rgba(var(--background-secondary-rgb));
      padding: 12px;
      border-radius: 8px;

      .errors {
        border: 1px solid rgb(181, 75, 75);
        border-radius: 8px;
      }
    }
  }
}
