.input {
  padding: 12px 12px;
  border: 1px solid rgba(var(--background-rgb));
  background: rgba(var(--background-rgb));
  color: rgba(var(--font-rgb));
  font-size: medium;
  font-family: 'Montserrat';
  border-radius: 8px;
  outline: none;
}
